@import '@angular/material/theming';

@include mat-core();

//Gama de colores

$blue-palette: (
  550 : #eff4f5,
  100 : #d6e4e7,
  200 : #bbd2d7,
  300 : #9fc0c7,
  400 : #8bb3bb,
  500 : #76a5af,
  600 : #6e9da8,
  700 : #63939f,
  800 : #598a96,
  900 : #467986,
  A100 : #e0f9ff,
  A200 : #adeeff,
  A400 : #7ae3ff,
  A700 : #61ddff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$red-palette: (
    50 : #fbeded,
    100 : #f6d1d1,
    200 : #f0b3b3,
    300 : #e99494,
    400 : #e57d7d,
    500 : #e06666,
    600 : #dc5e5e,
    700 : #d85353,
    800 : #d34949,
    900 : #cb3838,
    A100 : #ffffff,
    A200 : #ffe2e2,
    A400 : #ffafaf,
    A700 : #ff9696,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$purple-palette: (
    50 : #f1eff8,
    100 : #ddd8ed,
    200 : #c7bee1,
    300 : #b0a3d5,
    400 : #9f90cc,
    500 : #8e7cc3,
    600 : #8674bd,
    700 : #7b69b5,
    800 : #715fae,
    900 : #5f4ca1,
    A100 : #fefeff,
    A200 : #d6cbff,
    A400 : #ae98ff,
    A700 : #9a7fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Paleta de colores
$blue-palette-primary: mat-palette($blue-palette);
$red-palette-primary: mat-palette($red-palette);
$purple-palette-primary: mat-palette($purple-palette);
//Tema propio
$blue-theme: mat-light-theme((
    color: (
        primary: $blue-palette-primary,
        accent: $purple-palette-primary,
        warn: $red-palette-primary,
    )
));

//Aplicar tema a Angular
@include angular-material-theme($blue-theme);