<div class="body align-items-center">
    <div class="container  h-75">
        <div class="row align-items-center h-100">
        <!-- Lado Izquierdo -->
        <div class="col-md-6">
            <div class="text-center">
            <h1>- {{getNameProject()}} - </h1>
            </div>
            <div>
            <p>Creador: {{getNameCreator()}}</p>
            <p>Hito actual: {{getNameMilestoneCurrent()}}</p>
            <p>Iteración: {{getIterationCurrent()}}</p>
            <p>Description: {{ getDescriptionProject() }}</p>
            <div class="progress" style="margin-bottom: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            
            </div>
        </div>
        <!-- Lado Derecho -->
        <div class="col-md-6 align-items-center flex-direcction-column">
            <button mat-raised-button color="primary" class="col-md-12 boton" (click) = "openDialog('ManagerUser')"><mat-icon>supervisor_account</mat-icon> Manage users </button>
            <button mat-raised-button color="primary" class="col-md-12 boton" (click) = "openDialog('UseCases')"><mat-icon>assignment</mat-icon> Manage Use Cases </button>
            <button mat-raised-button color="primary" class="col-md-12 boton"><mat-icon>event</mat-icon> Manage Milestone </button>
            <button mat-raised-button color="primary" class="col-md-12 boton" (click) = "openDialog('Planning')"><mat-icon>schedule</mat-icon> Planning </button>
            <button mat-raised-button color="primary" class="col-md-12 boton"><mat-icon>description</mat-icon> Resume </button>
            <button mat-raised-button color="primary" class="col-md-12 boton"><mat-icon>info</mat-icon> Details </button>
            <button mat-raised-button color="primary" class="col-md-12 boton"><mat-icon>build</mat-icon> Technologies </button>
            <button mat-raised-button color="primary" class="col-md-12 boton"><mat-icon>check_circle_outline</mat-icon> Implementation </button>
        </div>
        </div>
    </div>    
</div>

